
<div class="h-full w-full max-w-3xl mx-auto align-left max-w-7xl px-4 py-6 sm:px-2 lg:px-1">
  <h1 class="font-bold text-4xl">Search stocks</h1>

<%= render partial: "users/form", locals: { stock: @stock } %>

<!--hier will be pasted the _results.html.erb partition & replaced for each new request -->
  <div id="stock_data">     
  </div>

</div>

  <!-- <%= form_with url: "#", method: :get do |form| %>
  <div class="mb-4">
    <%= form.label :stock, "Search for:", class: "block text-sm font-bold mb-2 text-gray-700" %>
    
    <%= form.text_field :stock, class: "mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0", placeholder: "Stock ticker" %>
   </div> 
   <div class="flex items-center justify-between content-end">
    
      <%= form.button 'submit', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline" do %>
          <i class="fa fa-search fa-1x text-muted pull-left"></i></i> Submit
      <% end %>
    </div>
  <% end %> -->







  <%# <i class="fa fa-search fa-4x text-muted pull-left"></i> %>
  

  <!--
  <%= form_tag '#', method: :get do %>
    <div class="mt-2">
    <%= %>
     
     <input type="text" class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" placeholder="">
    </div>
  <% end %> -->
  
</div>
    
 